@import "tailwindcss";

/* Le reste de ton CSS perso en dessous */
html {
  scroll-behavior: smooth;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in-up 0.6s ease-out forwards;
}
